<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Monday 24 October</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>9:00</td>
        <td>Welcome and introduction</td>
      </tr>
      <tr>
        <td>9:15</td>
        <td><a href="https://datacarpentry.org/spreadsheets-socialsci/" target="_blank">Data Organization in Spreadsheets</a></td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td><a href="https://datacarpentry.org/openrefine-socialsci/" target="_blank">OpenRefine for Data Cleaning</a></td>
      </tr>
      <tr>
        <td>11:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>OpenRefine (continued) or start with introduction to R</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Tuesday 25 October</h3>
    <table class="table table-striped">
      <tr>
        <td>9:00</td>
        <td>Welcome and introduction</td>
      </tr>
      <tr>
        <td>9:15</td>
        <td><a href="https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html" target="_blank">Introduction to R</a></td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td>Introduction to R (continued)</td>
      </tr>
      <tr>
        <td>11:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>12:00</td>
        <td><a href="https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html" target="_blank">Starting with Data in R</a></td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3: Thursday 27 October</h3>
    <table class="table table-striped">
      <tr>
        <td>9:00</td>
        <td>Welcome and introduction</td>
      </tr>
      <tr>
        <td>9:15</td>
        <td>Starting with Data (continued)</td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td><a href="https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html" target="_blank">Data Wrangling in R</a></td>
      </tr>
      <tr>
        <td>11:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>Data Wrangling in R (continued)</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4: Friday 28 October</h3>
    <table class="table table-striped">
      <tr>
        <td>9:00</td>
        <td>Welcome and introduction</td>
      </tr>
      <tr>
        <td>9:15</td>
        <td><a href="https://datacarpentry.org/r-socialsci/05-rmarkdown/index.html" target="_blank">Introduction to R Markdown</a></td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td><a href="https://datacarpentry.org/r-socialsci/04-ggplot2/index.html" target="_blank">Data Visualisation in R with ggplot</a></td>
      </tr>
      <tr>
        <td>11:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>Data Visualisation (continued)</td>
      </tr>
      <tr>
        <td>12:55</td>
        <td>Wrap-up</td>
      </tr>
      <tr>
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
